.ContainerLocation {
  background-image: url('/public/central-textilera.webp');
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.ContainerBody {
  min-height: 320px;
  max-width: 380px;
  background-color: #fffc;
  /* border: 1px solid red; */
  margin: 4.5rem;
  color: #666565;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.ContainerText {
  padding: 0 1.5rem;
}

.ContainerP {
  padding: 0 1.5rem;
}

.TitleLocation {
  font-size: 18px;
  margin-bottom: 20px;
}

.ParrafoLocation {
  font-size: 14px;
}

.ContainerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 5px;
}

.button:hover {
  color: #fff;
}

.icon {
  margin-right: 1rem;
}

.button {
  height: 40px;
  color: #fff;
  display: block;
  background: #006eb2;
  max-width: 250px;
  margin: 30px auto 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .ContainerP {
    padding: 0 0;
  }
}
