.featured-container {
  height: 422px;
  width: 309px;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-img {
  border-radius: 20px;
  max-height: 13rem !important;
}

.featured-image-container p {
  @apply text-main;
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
}

.hidde-component {
  display: grid;
}
.featured-image-container span {
  @apply text-black;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 460px) {
  .featured-container {
    width: 100vw;
  }
}

@media screen and (max-width: 1200px) {
  .hidde-component {
    display: none !important;
  }
}
