.container-emptycart {
  padding: 0rem 5rem;
  width: 100%;
  text-align: center;
}

.container-emptycart p {
  color: #898989;
  font-weight: 400;
}

.container-emptyButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container-headercart p {
  color: #898989;
}

.header-col {
  font-weight: 700;
  color: #898989;
}

.header-col img {
  height: 80px;
  width: 80px;
}

.quantity-cart {
  text-align: center;
  font-weight: 700;
  color: #898989;
  input {
    margin-bottom: 1px;
  }
}
.container-bodyCart {
  @apply p-4;
  border-bottom: 1px solid #cccccc;
}

.container-emptycart {
  .ant-card-body {
    padding: 0rem 1rem 1rem 1rem !important;
  }
}

.ant-card-head {
  border-bottom: 1px solid #cccccc;
  padding: 0;
}

.footer-container {
  height: 102px;
  background-color: #fafafa;
  border-bottom: 1px solid #cccccc;
  text-align: end;
  padding: 10px 1rem;
}

.actions-container {
  text-align: end;
  padding: 1.5rem 20px;
}

.actions-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.button-continueshop {
  margin-top: 0 !important;
}

.paypal-logo {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media screen and (max-width: 1000px) {
  .container-emptycart {
    padding: 0rem 0rem;
  }
}

@media screen and (max-width: 640px) {
  // .container-headercart {
  //   display: none;
  // }

  .ant-card-head {
    border-bottom: 1px solid transparent;
  }

  .actions-buttons {
    flex-direction: column;
  }

  .button-continueshop {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .footer-container {
    text-align: center;
  }

  // .header-col {
  //   text-align: end !important;
  // }
  //  .quantity-cart {
  //     text-align: start;
  //   }
}
