.link-forgotpassword {
  border-width: 2px;
  border-color: #99cc66;
  background-color: transparent !important;
  color: #99cc66 !important;
}

.link-forgotpassword:hover {
  background-color: #99cc66 !important;
  color: white !important;
}

.container-actions {
  display: flex;
}

@media screen and (max-width: 402px) {
  .container-actions {
    flex-direction: column;
  }

  .link-forgotpassword {
    width: 100% !important;
  }

  .response-forgot {
    width: 100% !important;
  }
}
