.radio-shippment {
  @apply m-0
    flex
    items-center
    border
    border-b-graySeparation
    p-4
    last:border-none;
}

.radio-shippment span:nth-child(2):not(.ant-radio-inner) {
  float: right;
  width: calc(100% - 1rem);
}

.radio-simple span:nth-child(2):not(.ant-radio-inner) {
  width: calc(100% - 1rem);
}
